body{
    /* background-image: url('../Images/10068.png');*/
    background-size: cover;
    margin: 0;
    font-family: Helvetica;

}
.foto1{
    width: 50px;
    border-radius: 10%;
    float: left;
}


header{
display: flex;
position: fixed;
height: 50px;
width: 97%;
/* padding-right: 3vw; */
/* line-height: 50px; */
margin: 15px;
background-color: rgba(5, 182, 170, 0.788);
border-radius: 10px;
}
.nav{
    margin-top: 17px;
}
.nav a{
    list-style-type: none;
    background-color: #F36D30;
    margin-left: 1.5vw;
    display: inline;
    margin-top: 10px;
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    height: 25px;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: #D3DF41;
    text-align: center;
    text-decoration: none;
}
/* .nav>a{
    padding: 6px;
    text-align: center;
    text-decoration: none;
    color: #D3DF41;
} */

/* header div:hover{
    background-color: #D3DF41;
    text-decoration: none;
    padding: 5px;
} */

.nav>a:hover {
    background-color: #D3DF41;
    text-decoration: none;
    text-decoration: none;
    color: #F36D30;
    
}

.profile-img{
    width: 100px;
    border-radius: 50%;
}

#home{
    height: 100vh;
    border: 1px solid #F36D30;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: grey;
}

#home .profile-img{
    width: 150px;
    border-radius: 50%;
}

#home .profile-img:hover{
    width: 150px;
    border-radius: 10%;
}

#home h1{
    font-size: 3rem;
}

#portfolio{
    /* height: 80vh; */
    /* font-size: 2vw; */
    border: 1px solid #F36D30;
    display: flex;
    /* justify-content: center;
    justify-items: center;
    align-items: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #D3DF41;
}

.portoContainer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    border: #05B6AB solid 1px;
}

.porr{
    /* margin-left:300px; */
    border: #05B6AB solid 1px;
}

.porto>a{
    float: left;
    text-decoration: none;
    font-size: 1.5vw;
    color: #D3DF41;
    text-align: center;
    /* margin-left: 5vw; */
    transition: transform 0.5s;
    padding-top: 100px;
    padding-bottom: 10px;
}

.porto>a>img{
    width: 200px;
    padding: 20px;
    align-items: center;
    
}


.porto>a:hover{
    transform: scale(1.25);
    /* width: 200px; */
    margin-left: 0;
}

h3{
    text-align: center;
}

#about{
    /* height: 80vh; */
    border: 1px solid #F36D30;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(103, 103, 103);
    align-items: left;
    text-align: left;
    padding-top: 100px;
    
}
div>.aboutme{
    font-size: 45px;
    /* padding-top: 0; */
}
#about p{
    text-justify: center;
    padding-left: 3vw;
    padding-right: 3vw;
}
/* #about .profile-img{
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;

} */
.name{
    width: 100px;
align-content: center;
}

.Andri{
    float: left;
    width: 30vw;
    margin-left: 100px;
    margin-right: 20px;
    padding-bottom: 50px;
    /* background-image: url(../Images/fotoaboutbw.jpg); */
    /* border-radius: 2% 2% 2% 2%; */
    transition: transform 0.5s;
}
/* .Andri:hover{
    transform: scale(1.1);
    float: left;
    width: 250px;
    margin-right: 20px;
    background-image: url(../Images/fotoaboutbw.jpg);
} */

.imaa {
    width: 100px;
    padding-bottom: 50px;
    padding-left: 3vw;

}

section ul li{
    list-style-type: none;
    text-align: center;
    /* justify-content: center; */
}

section h2{
    font-size: 2.5em;
}

section h3{
    font-size: 1.5em;
}

#contact{
    height: 80vh;
    border: 1px solid #F36D30;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:  rgb(103, 103, 103);
}

#contact a{
    text-decoration: none;
    color: #05B6AB;
}
#contact a>img{
    width: 25px;
}
#contact a:hover{
    text-decoration: none;
    color: #F36D30;
}
#contact ul{
    align-content: center;
}
#contact li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
    text-align: center;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #F36D30;
    color: white;
    font-size: 15px;
}
#home{
     background-image:  url(../Images/bg2-01.png);
    }
#portfolio{
    background-image: url(../Images/backport.jpg);
    /* background-color: #424242; */
}
#about{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.762)) , url(../Images/AB-01.png);

}
#contact{
    background-image: url(../Images/contact-bg.jpg);
  
}

@media only screen and (max-width: 550px){

    header{
        position: unset;
        border-radius: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        /* height: 70px; */
        background-color: #F36D30;
    }
    .nav{
        width: 100%;
    }
    .nav>a{
        display: inline;
        /* width: 100%; */
        padding-top: 17px;
        padding-bottom: 16px;
        border-radius: 0;
    }

    .porto>a{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .porto>a:hover{
        transform: scale(1);
        /* width: 200px; */
        margin-left: 0;
    }

    .porto>a>img{
        width: 40%;
    }

    #about{
        align-items: center;
    }
    .Andri{
        margin-left: 10%;
        width: 80%;
        align-items: center;
    }

    #contact{
        background-image: url(../Images/contact-bg.jpg);
    }
}
